@font-face {
    font-family: 'Roboto';
    src: url('webagency_images/fonts/Roboto-Medium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('webagency_images/fonts/Roboto-Light.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('webagency_images/fonts/Roboto-Medium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'robotoregular', arial, serif;
    margin: 0;

}

/* _________ Head Size & space Logo ________ */

nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: fixed;
    padding-right: 50px;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}


/*_____Logo_____*/
.logo {
    width: 50%;
    padding-top: 12px;
    padding-left: 9%;
}

nav img {
    height: 51px;
    margin-top: 6px;
}



nav ul {
    display: inline-flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-top: 0;
}

nav a {
    text-decoration: none;
    color: #555555;
    margin-right: 15px;
    font-size: 1rem;
    font-weight: bold;
}

/* _________Tiré Bleu au dessus de Nav_Bar _________*/

ul a:hover {
    border-top: 3px solid #5cadd3;
    padding-top: 25px;
}

.menu {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 6%;
    margin-bottom: 0;
}

/* _________Banner Slider img ________*/

#slider {
    background: url("webagency_images/images/slider/bg1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 82px;
    height: 550px;
}

/* ________Desccription Slider _________*/

.banner_desc {
    margin-left: 8%;
}

#slider h1 {
    font-size: 2.2rem;
    max-width: 550px;
    color: white;
    text-transform: uppercase;
}

#slider p {
    font-size: 1rem;
    margin-top: -15px;
    color: white;
}

#slider a {
    color: white;
}


#span_blue {
    color: #5cadd3;
}


/* _________Bouton Plus d'infos _________*/
#bouton_infos {
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 3px solid #5cadd3;
    background-color: #5cadd3;
    font-size: 1rem;
}

/*________Arrow Button___________*/
#arrow_left {
    background: rgba(0, 0, 0, 0.30);
    border: 0;
    position: absolute;
    width: 32.5px;
    left: 0;
    border-radius: 0 200px 200px 0;
    font-size: 25px;
}

#arrow_left:hover {
    background: rgb(92, 173, 211);
}

#arrow_left i {
    margin-left: 6px;
    line-height: 65px;
}

/*________ Slider arrow________ */
#arrow_right {
    background: rgba(0, 0, 0, 0.30);
    border: 0;
    position: absolute;
    width: 32.5px;
    right: 0;
    border-radius: 200px 0 0 200px;
    font-size: 25px;
}

#arrow_right:hover {
    background: rgb(92, 173, 211);
}

#arrow_right i {
    margin-left: 15px;
    line-height: 65px;
}

/*_____Transparent Bar Slider_______*/
.trans_bar {
    background: rgba(0, 0, 0, 0.10);
    width: 100%;
    height: 3px;
    margin-top: -3px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#blue_bar {
    width: 10%;
    background-color: #6bb1d7;
    height: 3px;
    display: block;
}

/* _________Section NOS SERVICES ________*/


#nos_services {
    text-align: center;
    margin: 100px auto 100px auto;
}

.sep_line {
    width: 20%;
    height: 2px;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    background-color: lightgray;
    margin-left: 40%;
}

/*______Separation Blue Circle____*/
.blue_circle {
    position: relative;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #5cadd3;
    margin-top: -3%;
}

.title {
    color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.title h2 {
    font-size: 3rem;
}

.title p {
    margin-left: 20%;
    margin-right: 20%;
}

/*______Text Icons_____*/
.mini_text {
    text-align: justify;
}

.mini_text p {
    color: #272727;
    font-size: 1.2rem;
    margin-top: 4px;
}

.mini_text h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: 1.2rem;
}

/*____Global aside div Dispositon____*/
#aside {
    display: flex;
    flex-direction: row;
}

#aside p {
    text-align: left;
}

/*____Img Nos Services Section_____*/
.img_services {
    width: 50%;
}

/*_____Text-Size Icon Desc____*/
.desc_services {
    width: 50%;
}

/*____Icons Alignement______*/
.desc_services li {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}


.desc_services ul {
    list-style-type: none;
}

/*____Icons Gray Circle & Mini Blue Point_____*/
.icon {
    margin-right: 3%;
}

.icon i {
    border: 2px solid rgb(237, 237, 237);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 1.7em;
    line-height: 2.2em;
    color: rgb(107, 177, 215);
}

.blue_point {
    background: rgb(107, 177, 215);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-top: -38px;
    margin-left: 57px;
    position: absolute;
}

/* _________Section NOS PROJETS _________*/
#nos_projets {
    text-align: center;
    margin: 100px auto 0 auto;
    background-color: #f5f5f5;
    padding-bottom: 10px;
}

.title h2 {
    font-family: 'Roboto';
    font-size: 3rem;
}

.title p {
    font-family: 'Roboto-Light';
    font-size: 1.5rem;
}

/* _________NOS PROJETS Nav Bar_________*/

.nav_projets {
    text-align: center;
    font-family: 'Roboto-Light';
}


.nav_projets ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0px;
    background-color: #f5f5f5;
}


.nav_projets li {
    position: relative;
    cursor: pointer;
    border: 0px;
    border-bottom: 3px lightgray solid;
    margin: 0px 0px 40px 0px;
    padding: 0px 15px 0px 15px;
    width: 70px;
    height: 40px;
    background-color: lightgray;

}

/*__________Arrondir left & right border nav_projets Bar__________*/
.nav_projets li:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.nav_projets li:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.active {
    line-height: 42px;
    margin-left: 2px;
}

/* _________Surbrillance Curser  _________*/
.nav_projets li:hover {
    background-color: #5cadd3;
    border-bottom: 4px solid #5F9CB5;
    color: white;
}




/* _________Arrow Down Nav Bar Making _________*/
.arrow_down {
    position: relative;
    top: 2px;
    left: 20px;
    width: 1px;
    height: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #5cadd3;
    opacity: 0;

}

.arrow_down:hover {
    opacity: 1;
}

#all {
    background-color: #5cadd3;
    border-bottom: 4px solid #5F9CB5;
    color: white;
}

#arrow {
    opacity: 1;
}

/*________Img Nos Projets_______*/
.grid {
    display: flex;
    flex-wrap: wrap;
    /* Retour a la ligne*/
}

/* _________Grid Portfolio Making  _________*/
figure img {
    width: 100%;
}

figure {
    position: relative;
    width: 23%;
    margin: 1%;
}


/*____ Nos Projets Icon Oeil via figcaption____*/


figcaption i {
    background-color: #4591B1;
    position: absolute;
    bottom: 20%;
    color: white;
    border-radius: 50%;
    font-size: 1.3rem;
    left: 20%;
}

/*_____Colored Circley around Eye Icon_____*/
.ieye {
    background-color: #4591B1;
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    font-size: 1.2rem;
    right: 5%;
    bottom: 70%;
}

figcaption h4 {
    width: 100%;
    color: white;
    margin-left: -30%;

}

figcaption {
    position: absolute;
    bottom: 4px;
    left: 0;
    height: 70px;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

/*_____Heritage & Visibility cursor Black Shadow-Line______*/

figure img:hover+figcaption {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%
}

/* _________G.G Map & Form _________*/


.form_back {
    width: 100%;
    z-index: 2;
    position: absolute;
}

#contact iframe {
    width: 100%;
    height: 641px;
    border: 0;
}

/*______Form contact_____*/
.formulaire {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 180px;
    top: 53px;
    width: 25%;
    height: 500px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Roboto';
}

.formulaire h2 {
    margin-top: 0;
    font-size: 1.7em;
}

.formulaire p {
    margin: 0;
    font-size: 0.9em;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: rgb(207, 208, 208) solid 1px;
}

/*___Seperate form column____*/
#name {
    margin-top: 15px;
}

textarea {
    padding: 10px;
    height: 195px;
    border: rgb(207, 208, 208) solid 1px;
}

/*_____Send Message Button______*/
#submit {
    margin: 20px 0;
    background-color: #5cadd3;
    color: white;
    border-bottom: 3px solid #5890a8;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8rem;
    width: 113px;
    min-height: 40px;
}

/*_______G.G Map Bakcground Color_________*/
.color_back_frame {
    background-color: #5cadd3;
}


/*_________Map Transparency__________*/
iframe {
    opacity: 0.8;
}






/*___________
_________Media Queries Résolution  Iphone 6/7/8 Plus______*/

@media (min-width: 375px) and (max-width: 667px) {




    /* _________ Head Size & space Logo ________ */

    nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        padding-right: 50px;
        top: 0;
        width: auto;
        background-color: white;
        z-index: 1;
    }



    /*_____Logo_____*/
    .logo {
        padding-top: 12px;
        padding-left: 16%;
    }

    nav img {
        height: 51px;
        margin-top: 6px;
    }



    nav ul {
        display: inline-flex;
        list-style-type: none;
        justify-content: flex-end;
        margin-top: 0;
    }

    nav a {
        text-decoration: none;
        color: #555555;
        margin-right: 15px;
        font-size: 1rem;
        font-weight: bold;
    }

    /* _________Tiré Bleu au dessus de Nav_Bar _________*/

    ul a:hover {
        border-top: 3px solid #5cadd3;
        padding-top: 25px;
    }

    .menu {
        width: auto;
        padding-top: 30px;
        padding-bottom: 3px;
        margin-left: 0;

    }

    /* _________Banner Slider img ________*/

    #slider {
        display: none;
    }


    /* _________Section NOS SERVICES ________*/


    #nos_services {
        padding-right: 0;
        padding-left: 0;
    }

    .sep_line {
        width: 40%;
        height: 2px;
        display: flex;
        margin-bottom: 30px;
        justify-content: center;
        background-color: lightgray;
        margin-left: 30%;
    }

    /*______Separation Blue Circle____*/
    .blue_circle {
        position: relative;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: #5cadd3;
        margin-top: -5%;
    }

    .title {
        display: flex;
        margin-top: 38%;
        text-align: center;
    }

    .title h2 {

        font-size: 1.9rem;
    }

    .title p {
        margin-left: 8%;
        margin-right: 8%;
    }

    /*______Text Icons_____*/
    .mini_text {
        text-align: justify;
        padding-left: 38px;
    }

    .mini_text p {
        color: #272727;
        font-size: 1.2rem;
        margin-top: 4px;
    }

    .mini_text h3 {
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        font-size: 1.2rem;
    }

    /*____Global aside div Dispositon____*/
    #aside {
        display: flex;
        flex-direction: column;
    }


    /*____Img Nos Services Section_____*/
    .img_services {
        width: auto;
        box-sizing: border-box;
        margin-right: 0%;
        display: flex;
    }

    /*_____Text-Size Icon Desc____*/
    .desc_services {
        width: auto;
    }

    /*____Icons Alignement______*/
    .desc_services li {
        margin-bottom: 3%;
    }


    .desc_services ul {
        list-style-type: none;
    }

    /*____Icons Gray Circle & Mini Blue Point_____*/
    .icon {
        margin-right: 0px;
        margin-left: 0px;
    }

    /* _________Section NOS PROJETS _________*/
    #nos_projets {
        padding: 0 0 20px 0;
        margin: 0;
    }

    /* _________NOS PROJETS Nav Bar_________*/

    .nav_projets {
        text-align: center;
        font-family: 'Roboto-Light';
    }


    .nav_projets ul {
        display: flex;
        flex-direction: column;
    }


    .nav_projets li {
        margin: 0 0 0 142px;
        padding: 0px 15px 0 15px;
    }



    /*________Img Nos Projets_______*/
    .grid {
        display: flex;
        flex-wrap: wrap;
        /* Retour a la ligne*/
    }

    /* _________Grid Portfolio Making  _________*/
    figure img {
        width: 100%;
    }

    figure {
        width: 100%;
    }

    /* _________G.G Map & Form _________*/


    .form_back {
        width: 100%;
        z-index: 2;
        position: absolute;
    }

    #contact iframe {
        width: 100%;
        height: 641px;
        border: 0;
    }

    /*______Form contact_____*/
    .formulaire {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 163px;
        top: 72px;
        width: 43%;
        height: 500px;
        padding: 20px 20px 20px 20px;
        margin-bottom: 0;
        background-color: rgba(255, 255, 255, 0.7);
        font-family: 'Roboto';
    }

    .formulaire h2 {
        margin-top: 0;
        font-size: 1.7em;
    }

    .formulaire p {
        margin: 0;
        font-size: 0.9em;
    }

    input {
        padding: 10px;
        margin-bottom: 10px;
        border: rgb(207, 208, 208) solid 1px;
    }

    /*___Seperate form column____*/
    #name {
        margin-top: 15px;
    }

    textarea {
        padding: 10px;
        height: 195px;
        border: rgb(207, 208, 208) solid 1px;
    }

    /*_____Send Message Button______*/
    #submit {
        margin: 20px 0;
        background-color: #5cadd3;
        color: white;
        border-bottom: 3px solid #5890a8;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        font-size: 0.8rem;
        width: 113px;
        min-height: 40px;
    }

    /*_______G.G Map Bakcground Color_________*/
    .color_back_frame {
        background-color: #5cadd3;
    }


    /*_________Map Transparency__________*/
    iframe {
        opacity: 0.8;
    }

}

/*_____Media Queries Résolution Mobile Medium (Tablette Ipad)______*/

@media (min-width: 768px) and (max-width: 1024px) {


    .menu {
        display: inline;

    }

    .logo {
        padding-top: 0;
        margin-left: 25%;
        width: 100%;
    }

    .menu ul {
        bottom: -26%;
        left: 25%;
        width: 50%;
        position: absolute;
    }


    .slide {
        margin-top: 15%;
    }

    .arrow {
        display: none;
    }

    #banner_desc {
        top: 15%;
    }

    #banner_desc h2 {
        display: none;

    }

    #banner_desc p {
        margin-top: 12%;
        width: 45%;
    }

    #banner_desc input {
        display: none;
    }

    /*______NOS SERVICES _______*/

    .blue_circle {
        bottom: 85%;
    }

    aside {
        top: 2%;
        width: auto;
        position: relative;
        margin-bottom: 95%;
    }

    /*_________Eloignement des icons dans le block_________*/

    .icon i {
        padding-left: 10px;
        font-size: 1.1em;
        color: #5cadd3;
        padding-bottom: 0;
    }

    .texte {
        padding-left: 0%;
        width: 75%;
        padding-top: 2%;
    }

    .services h3 {
        margin-top: 1%;
    }


    .services {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70%;
        right: 3px;
        left: 10px;
        padding-left: 0%;
        padding-bottom: 0%;
        margin-bottom: 5%;
        width: auto;
    }

    /* ____|||_____NOS PROJETS ____|||_____*/
    #nos_projets {

        position: absolute;
        top: 100%;
        height: auto;
        background-color: #f5f5f5;
        text-align: center;
        padding-top: 0;
        width: 100%;
        font-family: 'Roboto';
        color: #272727;
    }

    #nos_projets h2 {
        text-align: center;
        margin-top: 10px;

        width: 100%;
        font-family: 'Roboto';
        color: #272727;
        font-size: 2.5em;

    }

    #nos_projets p {
        text-align: center;
        padding-top: 0;
        margin-top: 0;
        font-family: 'Roboto-Light';
        font-size: 1.5em;
        margin-bottom: 0%;
    }

    /*_____NAVBAR NOS PROJETS_____*/
    .nav_projets {
        display: flex;
        border-radius: 10px;
        margin-left: 25%;
        width: 40%;
    }



    .nav_projets li {
        display: flex;
        flex-direction: column;
    }

    /*______Grille img Portfolio______*/
    .grid {
        padding-bottom: 10px;
    }

    /*_____Surbrillance Portfolio Img (Title + Icons)______*/
    figcaption h4 {
        width: 100%;
        color: white;
        margin-left: 20%;
        font-size: 0.6em;

    }

    figcaption i {
        position: absolute;
        bottom: 85%;
        background-color: #5cadd3;
        color: white;
        border-radius: 100%;
        font-size: 1.3em;
        left: 90%;
    }

    figcaption {
        position: relative;
        margin-top: -20%;
        width: 0%;
        right: 0%;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        visibility: hidden;
    }

    figure img:hover+figcaption {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%
    }

    /*______FORM & MAP FOOTER_____*/

    footer {
        position: absolute;
        margin-top: 100%;
        top: 1117px;
    }

    .form {
        width: auto;
        position: relative;
        left: 60%;
        top: 7%;
        z-index: 10;
        background: rgba(225, 228, 230, .8);
        height: 55vh;
    }


}