body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* _________ Head Size & space Logo ________ */

nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: fixed;
  padding-right: 50px;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}

/*_____Logo_____*/
.logo {
  width: 50%;
  padding-top: 12px;
  padding-left: 9%;
}

nav img {
  height: 51px;
  margin-top: 6px;
}

nav ul {
  display: inline-flex;
  list-style-type: none;
  justify-content: flex-end;
  margin-top: 0;
}

nav a {
  text-decoration: none;
  color: #555555;
  margin-right: 15px;
  font-size: 1rem;
  font-weight: 400;
}

/* _________Tiré Bleu au dessus de Nav_Bar _________*/

ul a:hover {
  border-top: 3px solid #5cadd3;
  padding-top: 25px;
}

.menu {
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 6%;
  margin-bottom: 0;
}

/* _________Banner Slider img ________*/

#slider {
  background: url("webagency_images/images/slider/bg1.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 82px;
  height: 550px;
}

/* ________Desccription Slider _________*/

.banner_desc {
  margin-left: 8%;
}

#slider h1 {
  font-size: 2.2rem;
  max-width: 550px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 3px;
}

#slider p {
  font-size: 1.2rem;
  margin-left: 0;
  color: white;
  margin-bottom: 36px;
}

#slider a {
  color: white;
}

#span_blue {
  color: #5cadd3;
}

/* _________Bouton Plus d'infos _________*/

#bouton_infos {
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 3px solid #5cadd3;
  background-color: #5cadd3;
  font-size: 1rem;
}

/*________Arrow Button___________*/
#arrow_left {
  background: rgba(0, 0, 0, 0.3);
  border: 0;
  position: absolute;
  width: 32.5px;
  left: 0;
  border-radius: 0 200px 200px 0;
  font-size: 25px;
}

#arrow_left:hover {
  background: rgb(92, 173, 211);
}

#arrow_left i {
  margin-left: 6px;
  line-height: 65px;
}

/*________ Slider arrow________ */
#arrow_right {
  background: rgba(0, 0, 0, 0.3);
  border: 0;
  position: absolute;
  width: 32.5px;
  right: 0;
  border-radius: 200px 0 0 200px;
  font-size: 25px;
}

#arrow_right:hover {
  background: rgb(92, 173, 211);
}

#arrow_right i {
  margin-left: 15px;
  line-height: 65px;
}

/*_____Transparent Bar Slider_______*/
.trans_bar {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 3px;
  margin-top: -3px;
  position: absolute;
  left: 0;
  bottom: 0;
}

#blue_bar {
  width: 10%;
  background-color: #6bb1d7;
  height: 3px;
  display: block;
}

/* _________Section NOS SERVICES ________*/

#nos_services {
  text-align: center;
  margin: 100px auto 100px auto;
}

.sep_line {
  width: 10%;
  height: 1px;
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  background-color: lightgray;
  margin: 0 auto;
}

/*______Separation Blue Circle____*/
.blue_circle {
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #5cadd3;
  margin-top: -5%;
}

.title {
  color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

/*______Text Icons_____*/
.mini_text {
  text-align: justify;
}

.mini_text p {
  color: #272727;
  margin-top: 4px;
  margin-left: 0;
}

.mini_text h3 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  font-size: 1.2rem;
}

/*____Global aside div Dispositon____*/
#aside {
  display: flex;
  flex-direction: row;
}

#aside p {
  text-align: left;
}

/*____Img Nos Services Section_____*/
.img_services {
  width: 50%;
}

/*_____Text-Size Icon Desc____*/
.desc_services {
  width: 50%;
}

/*____Icons Alignement______*/
.desc_services li {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
}

.desc_services ul {
  list-style-type: none;
}

/*____Icons Gray Circle & Mini Blue Point_____*/
.icon {
  margin-right: 3%;
}

.icon i {
  border: 2px solid rgb(237, 237, 237);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 1.7em;
  line-height: 2.2em;
  color: rgb(107, 177, 215);
}

.blue_point {
  background: rgb(107, 177, 215);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-top: -38px;
  margin-left: 57px;
  position: absolute;
}

/* _________Section NOS PROJETS _________*/
#nos_projets {
  text-align: center;
  margin: 100px auto 0 auto;
  background-color: #f5f5f5;
  padding-bottom: 10px;
}

/* _________NOS PROJETS Nav Bar_________*/

.nav_projets {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.nav_projets ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0px;
  background-color: #f5f5f5;
}

.nav_projets li {
  position: relative;
  cursor: pointer;
  border: 0px;
  border-bottom: 3px lightgray solid;
  margin: 0px 0px 40px 0px;
  padding: 0px 15px 0px 15px;
  width: 70px;
  height: 40px;
  background-color: lightgray;
}

/*__________Arrondir left & right border nav_projets Bar__________*/
.nav_projets li:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.nav_projets li:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.active {
  line-height: 42px;
  margin-left: 2px;
}

/* _________Surbrillance Curser  _________*/
.nav_projets li:hover {
  background-color: #5cadd3;
  border-bottom: 4px solid #5f9cb5;
  color: white;
}

/* _________Arrow Down Nav Bar Making _________*/
.arrow_down {
  position: relative;
  top: 2px;
  left: 20px;
  width: 1px;
  height: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #5cadd3;
  opacity: 0;
}

.arrow_down:hover {
  opacity: 1;
}

#all {
  background-color: #5cadd3;
  border-bottom: 4px solid #5f9cb5;
  color: white;
}

#arrow {
  opacity: 1;
}

/*________Img Nos Projets_______*/
.grid {
  display: flex;
  flex-wrap: wrap;
  /* Retour a la ligne*/
}

/* _________Grid Portfolio Making  _________*/
figure img {
  width: 100%;
}

figure {
  position: relative;
  width: 23%;
  margin: 1%;
}

/*____ Nos Projets Icon Oeil via figcaption____*/

figcaption i {
  background-color: #4591b1;
  position: absolute;
  bottom: 20%;
  color: white;
  border-radius: 50%;
  font-size: 1.3rem;
  left: 20%;
}

/*_____Colored Circle around Eye Icon_____*/
.ieye {
  background-color: #4591b1;
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  font-size: 1.2rem;
  right: 5%;
  bottom: 70%;
}

figcaption h3 {
  width: 100%;
  color: white;
  margin-left: -25%;
}

figcaption {
  position: absolute;
  bottom: 4px;
  left: 0;
  height: 70px;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

/*_____Heritage & Visibility cursor Black Shadow-Line______*/

figure img:hover + figcaption {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

/* _________G.G Map & Form _________*/

.form_back {
  width: 100%;
  z-index: 2;
  position: absolute;
}

#contact iframe {
  width: 100%;
  height: 641px;
  border: 0;
}

/*______Form contact_____*/
.formulaire {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 180px;
  top: 53px;
  width: 25%;
  height: 500px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: "Roboto", sans-serif;
}

/*___Webagency Form Title___*/

.bold {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.formulaire h2 {
  margin-top: 0;
  font-size: 1.7em;
}

.formulaire p {
  margin: 0;
  font-size: 0.9em;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: rgb(207, 208, 208) solid 1px;
}

/*___Seperate form column____*/
#name {
  margin-top: 15px;
}

textarea {
  padding: 10px;
  height: 195px;
  border: rgb(207, 208, 208) solid 1px;
  /*Forcer l'héritage Police Roboto*/
  font-family: inherit;
  font-size: 0.8rem;
}

/*_____Send Message Button______*/
#submit {
  margin: 20px 0;
  background-color: #5cadd3;
  color: white;
  border-bottom: 3px solid #5890a8;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
  width: 113px;
  min-height: 40px;
}

/*_______G.G Map Bakcground Color_________*/
.color_back_frame {
  background-color: #5cadd3;
}

/*_________Map Transparency__________*/
iframe {
  opacity: 0.8;
}

/*_____Media Queries  Medium (Tablette Ipad)______*/

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    padding-right: 50px;
    top: 0;
    background-color: white;
    z-index: 1;
  }

  /*_____Logo_____*/
  .logo {
    padding-top: 12px;
    padding-left: 31%;
  }

  nav img {
    height: 51px;
    margin-top: 6px;
  }

  nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 0;
  }

  nav a {
    text-decoration: none;
    color: #555555;
    margin-right: 15px;
    font-size: 1rem;
    font-weight: bold;
  }

  /* _________Tiré Bleu au dessus de Nav_Bar _________*/

  ul a:hover {
    border-top: 3px solid #5cadd3;
    padding-top: 25px;
  }

  .menu {
    padding-top: 30px;
    padding-bottom: 3px;
    margin-left: 19%;
  }

  /* _________Banner Slider img ________*/

  #slider {
    margin-top: 157px;
  }

  #slider h1 {
    font-size: 2rem;
  }

  #slider p {
    font-size: 0.8rem;
  }

  /* _________Section NOS SERVICES ________*/

  #nos_services {
    padding-right: 0;
    padding-left: 0;
  }

  .sep_line {
    width: 20%;
    height: 1px;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    background-color: lightgray;
    margin: 0 auto;
  }

  /*______Separation Blue Circle____*/
  .blue_circle {
    position: relative;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #5cadd3;
    margin-top: -6%;
  }

  .title {
    display: flex;
    margin-top: 5%;
    text-align: center;
  }

  h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  .title p {
    margin-left: 8%;
    margin-right: 8%;
  }

  /*______Text Icons_____*/
  .mini_text {
    text-align: justify;
    padding-left: 38px;
  }

  .mini_text p {
    color: #272727;
    font-size: 1.2rem;
    margin-top: 4px;
  }

  .mini_text h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: 1.2rem;
  }

  /*____Global aside div Dispositon____*/
  #aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }

  /*____Img Nos Services Section_____*/
  .img_services {
    width: auto;
    box-sizing: border-box;
    margin-right: 0%;
    display: flex;
    justify-content: center;
  }

  /*_____Text-Size Icon Desc____*/
  .desc_services {
    width: auto;
  }

  /*____Icons Alignement______*/
  .desc_services li {
    margin-bottom: 3%;
  }

  .desc_services ul {
    list-style-type: none;
  }

  /*____Icons Gray Circle & Mini Blue Point_____*/
  .icon {
    margin-right: 0px;
    margin-left: 0px;
  }

  /* _________Section NOS PROJETS _________*/
  #nos_projets {
    padding: 0 0 20px 0;
    margin: 0;
  }

  /* _________NOS PROJETS Nav Bar_________*/

  .nav_projets {
    text-align: center;
    font-family: "Roboto";
  }

  .nav_projets ul {
    flex-direction: row;
  }

  .nav_projets li {
    padding: 0px 15px 0 15px;
  }

  .nav_projets li:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }

  .nav_projets li:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }

  /*________Img Nos Projets_______*/
  .grid {
    display: flex;
    flex-wrap: wrap;
    /* Retour a la ligne*/
  }

  /* _________Grid Portfolio Making  _________*/
  figure img {
    width: 100%;
  }

  figure {
    width: 48%;
  }

  /* _________G.G Map & Form _________*/

  .form_back {
    width: 100%;
    z-index: 2;
    position: absolute;
  }

  #contact iframe {
    width: 100%;
    height: 641px;
    border: 0;
  }

  /*______Form contact_____*/
  .formulaire {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 55px;
    top: 72px;
    width: 43%;
    height: 500px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: "Roboto";
  }

  .formulaire h2 {
    margin-top: 0;
    font-size: 1.7em;
  }

  .formulaire p {
    margin: 0;
    font-size: 0.9em;
  }

  input {
    padding: 10px;
    margin-bottom: 10px;
    border: rgb(207, 208, 208) solid 1px;
  }

  /*___Seperate form column____*/
  #name {
    margin-top: 15px;
  }

  textarea {
    padding: 10px;
    height: 195px;
    border: rgb(207, 208, 208) solid 1px;
  }

  /*_____Send Message Button______*/
  #submit {
    margin: 20px 0;
    background-color: #5cadd3;
    color: white;
    border-bottom: 3px solid #5890a8;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8rem;
    width: 113px;
    min-height: 40px;
  }

  /*_______G.G Map Bakcground Color_________*/
  .color_back_frame {
    background-color: #5cadd3;
  }

  /*_________Map Transparency__________*/
  iframe {
    opacity: 0.8;
  }
}

/*___________
_________Media Queries Résolution  Iphone 6/7/8 Plus______*/

@media (max-width: 767px) {
  /* _________ Head Size & space Logo ________ */

  #block_page {
    display: block;
  }

  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    padding-right: 50px;
    top: 0;
    background-color: white;
    z-index: 1;
  }

  /*_____Logo_____*/
  .logo {
    padding-top: 12px;
    padding-left: 16%;
  }

  nav img {
    height: 51px;
    margin-top: 6px;
  }

  nav ul {
    display: flex;
    list-style-type: none;
    justify-content: stretch;
    margin-top: 0;
  }

  nav a {
    text-decoration: none;
    color: #555555;
    margin-right: 15px;
    font-size: 1rem;
    font-weight: bold;
  }

  /* _________Tiré Bleu au dessus de Nav_Bar _________*/

  ul a:hover {
    border-top: 3px solid #5cadd3;
    padding-top: 25px;
  }

  .menu {
    padding-top: 30px;
    padding-bottom: 3px;
  }

  /* _________Banner Slider img ________*/

  #slider {
    display: none;
  }

  /* _________Section NOS SERVICES ________*/

  #nos_services {
    margin: 100px auto 0px auto;
  }

  .sep_line {
    width: 30%;
    margin: 0 auto;
  }

  /*______Separation Blue Circle____*/
  .blue_circle {
    position: relative;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #5cadd3;
    margin-top: -7%;
  }

  .title {
    margin-top: 38%;
  }

  h2 {
    font-size: 1.9rem;
  }

  .title p {
    margin-left: 8%;
    margin-right: 8%;
  }

  /*____Global aside div Dispositon____*/
  #aside {
    display: flex;
    flex-direction: column;
  }

  /*____Img Nos Services Section_____*/
  .img_services {
    width: 100%;
  }

  .img_services img {
    width: 100%;
  }

  /*______Text Icons_____*/
  .mini_text {
    width: 100%;
  }

  .mini_text p {
    color: #272727;
    font-size: 1.2rem;
    margin-top: 4px;
    font-size: 1.1rem;
  }

  .mini_text h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: 1.2rem;
  }

  /*_____Text-Size Icon Desc____*/
  .desc_services {
    width: 100%;
  }

  /*____Icons Alignement______*/
  .desc_services li {
    margin-bottom: 3%;
  }

  .desc_services ul {
    list-style-type: none;
  }

  /*____Icons Gray Circle & Mini Blue Point_____*/
  .icon {
    margin-right: 12px;
  }

  /* _________Section NOS PROJETS _________*/
  #nos_projets {
    padding: 0;
  }

  /* _________NOS PROJETS Nav Bar_________*/

  .nav_projets {
    display: flex;
    justify-content: center;
    margin-right: 7%;
  }

  .nav_projets ul {
    flex-direction: column;
  }

  .nav_projets li {
    margin-bottom: 0;
    width: 100%;
  }

  .nav_projets li:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .nav_projets li:last-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .arrow_down {
    display: none;
  }

  /*________Img Nos Projets_______*/
  .grid {
    flex-direction: column;
  }

  /* _________Grid Portfolio Making  _________*/
  figure img {
    width: 100%;
  }

  figure {
    width: 100%;
    margin: 1px;
  }

  /*_____Section Footer____*/
  footer {
    padding-top: 0;
  }

  /* _________G.G Map & Form _________*/

  .form_back {
    position: static;
  }

  /*______Form contact_____*/
  .formulaire {
    position: static;
    background-color: rgb(245, 245, 245);
    width: 90.2%;
    text-align: center;
    height: 522px;
  }

  .formulaire h2 {
    margin-top: 0;
    font-size: 1.7em;
  }

  .formulaire p {
    margin: 0;
    font-size: 0.9em;
  }

  input {
    padding: 10px;
    margin-bottom: 10px;
    border: rgb(207, 208, 208) solid 1px;
  }

  /*___Seperate form column____*/
  #name {
    margin-top: 15px;
  }

  textarea {
    padding: 10px;
    height: 195px;
    border: rgb(207, 208, 208) solid 1px;
  }

  /*_____Send Message Button______*/
  #submit {
    margin: 20px 0;
    background-color: #5cadd3;
    color: white;
    border-bottom: 3px solid #5890a8;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8rem;
    width: 113px;
    min-height: 40px;
  }

  /*_______G.G Map Bakcground Color_________*/

  #contact iframe {
    width: 100%;
    height: 641px;
    border: 0;
  }

  .color_back_frame {
    background-color: #5cadd3;
  }

  /*_________Map Transparency__________*/
  iframe {
    opacity: 0.8;
  }
}
